:root {
    --light-color: #edf8f2;
    --dark-color: #19192e;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside {
    border: 1px solid red;
}