:root {
    --light-color: #edf8f2;
    --dark-color: #19192e;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    height: 30px;

}

nav .menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 30%;
    font-weight: bold;
}

.hero {
    display: flex;
    padding: 20px;
}

.hero-cta {
    width: 50%;
}

.hero-cta h1 {
    font-size: 3em;
}

button {
    border-radius: 10px;
    background-color: #59ea8a;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 1.1em;
}